<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Custom CSS -->
        <link href="../static/css/style.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
        <title>ParamDham</title>
    </head>
    <body>
        <div class="templeimg">
            
            <div class="d-flex justify-content-end">
              <div class="mini-nav">
                <ul class="list-group list-group-horizontal  ml-auto align-items-center">
                    <li class="shortnavmenu-item list-group-item">Hindi</li>
                    <li class="shortnavmenu-item list-group-item">Cart</li>
                    <li class="shortnavmenu-item list-group-item " style="padding: 0%;">                 
                      <a class="profile-dropdown nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Welcome Rishu,
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Order History</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                 `    </ul>
                          
                    </li>
                </ul>
            </div>
            </div>
            
              <!-- Navbar -->
               <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                      <div class="nav-logo">
              
                      </div>
                      <!-- <img src="../static/assets/logo.svg"> -->
                   
                  </a>
                
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
                    <ul class="nav-menu navbar-nav ml-auto align-items-center">
                      <li class="nav-menu-item nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-menu-item nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-menu-item nav-item">
                        <a class="nav-link" href="#">Videos</a>
                      </li>
                      <li class="nav-menu-item nav-item">
                        <a class="nav-link" href="#">Shop</a>
                      </li>
                      <li class="nav-menu-item nav-item">
                        <a class="nav-link" href="#">Blog</a>
                      </li>
                      <li class="nav-menu-item nav-item">
                        <a class="nav-link" href="#">Events</a>
                      </li>
                      <li class="nav-menu-item nav-item">
                        <a class="nav-link" href="#">Donation</a>
                      </li>
                      <li class="nav-menu-item nav-item">
                        <a class="nav-link" href="#">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav> 

              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="hero-card card">
                      <h4 class="turq-text">Perform Meditation at our</h4>
                      <h1 class="H1-paramdham">Param Dham</h1>
                      <button type="button" class="default-button btn ">Read More</button>
                    </div>
                  </div>
                </div>
              </div>          
        </div>
        <div class="second-img">
          <div class="second-img-container ">
            <div class="row">
              <div class="col-md-7">
                <div class="">
                  <div class="second-card card">
                    <h4 class="turq-text">Welcome</h4>
                    <p class="welcome-para">
                      Param Dham Sanstha is a kind of Vidyapeeth, Gurukul, University where workshops of all human qualities and ideals have been run, it is the direct goal of the institution to make all the thoughts, feelings and sanskars of human beings perfect through spiritual method. Param Kaivalya Dham is the only laboratory to reveal the origin and beauty of religions, Param Kaivalya Dham is the center of wordly achievements as well as spiritual upliftment.
                    </p>
                    <button type="button" class="default-button btn ">Read More</button>
                  </div>
                </div>
              </div>
              <div class="col-md-5 upcoming-events">
                  <h5 class="card-title-event ">Upcoming Events</h5>
                  <div class="events-card">
                    <div class="Event-details">
                      <div class="row">
                        <div class="col-2 date">
                          <h1>18</h1>
                          <h6>OCT</h6>
                          
                        </div>
                        <div class="col-2">
                          <img class="upcoming-events-img" src="../static/assets/banner image.png">
                        </div>
                        <div class="col info-event">
                          <h6 class="event-title">Honoring the day</h6>
                          <h6 class="event-time"><img src="../static/assets/time.svg">  9:00 am to 4:30 pm</h6>
                          <h6 class="event-place"><img src="../static/assets/locationpin.svg">  Jaipur (Rajasthan)</h6>
                        </div>
                      </div>
                      <hr class="horizontal-line">
                    </div>
                    <div class="Event-details">
                      <div class="row">
                        <div class="col-2 date">
                          <h1>18</h1>
                          <h6>OCT</h6>
                          
                        </div>
                        <div class="col-2">
                          <img class="upcoming-events-img" src="../static/assets/banner image.png">
                        </div>
                        <div class="col info-event">
                          <h6 class="event-title">Honoring the day</h6>
                          <h6 class="event-time"><img src="../static/assets/time.svg">  9:00 am to 4:30 pm</h6>
                          <h6 class="event-place"><img src="../static/assets/locationpin.svg">  Jaipur (Rajasthan)</h6>
                        </div>
                      </div>
                      <hr class="horizontal-line">
                    </div><div class="Event-details">
                      <div class="row">
                        <div class="col-2 date">
                          <h1>18</h1>
                          <h6>OCT</h6>
                          
                        </div>
                        <div class="col-2">
                          <img class="upcoming-events-img" src="../static/assets/banner image.png">
                        </div>
                        <div class="col info-event">
                          <h6 class="event-title">Honoring the day</h6>
                          <h6 class="event-time"><img src="../static/assets/time.svg">  9:00 am to 4:30 pm</h6>
                          <h6 class="event-place"><img src="../static/assets/locationpin.svg">  Jaipur (Rajasthan)</h6>
                        </div>
                      </div>
                      <hr class="horizontal-line">
                    </div>
                    <div class="Event-details">
                      <div class="row">
                        <div class="col-2 date">
                          <h1>18</h1>
                          <h6>OCT</h6>
                          
                        </div>
                        <div class="col-2">
                          <img class="upcoming-events-img" src="../static/assets/banner image.png">
                        </div>
                        <div class="col info-event">
                          <h6 class="event-title">Honoring the day</h6>
                          <h6 class="event-time"><img src="../static/assets/time.svg">  9:00 am to 4:30 pm</h6>
                          <h6 class="event-place"><img src="../static/assets/locationpin.svg">  Jaipur (Rajasthan)</h6>
                        </div>
                      </div>
                      <hr class="horizontal-line">
                    </div>
                    
                    
                  </div>

          
                
              </div>
            </div>
            <!-- 3 CARDS -->
            <div class="new-setion container">
              <div class="row">
                <div class="col-md-4">
                  <div class="container Info-card">
                    <div class="contact-image">
                        <img src="../static/assets/artwork.svg" alt="rocket_contact"/>
                    </div>
                    <div class="para">
                      <h5 class="info-card-heading">Meditation Sindhis</h5>
                      <p class="info-card-text">Why meditation is needed the most today,Today a person is living...</p>
                      <button type="button" class="default-button btn ">Read More</button>

                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="container Info-card">
                    <div class="contact-image">
                        <img src="../static/assets/artwork.svg" alt="rocket_contact"/>
                    </div>
                    <div class="para">
                      <h5 class="info-card-heading">The Ultimate Idea</h5>
                      <p class="info-card-text">Ever since the creation of this universe in Param Kaivalya Prabhhu... </p>
                      <button type="button" class="default-button btn ">Read More</button>

                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="container Info-card">
                    <div class="contact-image">
                        <img src="../static/assets/artwork.svg" alt="rocket_contact"/>
                    </div>
                    <div class="para">
                      <h5 class="info-card-heading">Ultimate Media</h5>
                      <p class="info-card-text">Param Vichardhara is a pure spiritual revolution given by nature...</p>
                      <button type="button" class="default-button btn ">Read More</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Products -->
            <div class="new-setion container">
              <div class="row">
                <div class="col-md-11">
                  <h4 class="products-heading">Popular Products</h4>
                  <h6 class="product-sub-heading">Checkout our product range available at out store</h6>
                </div>
                <div class="col-md-1">
                  <button type="button" class="default-button btn ">View More</button>
                </div>
              </div>
              <div class="container">
                <div class="d-flex justify-content-center">
                  <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
                    <div class="carousel-inner-product carousel-inner">
                      <div class="carousel-product-item carousel-item active">
                        <div class="product-card card" style="width: 18rem;">
                            <img src="../static/assets/product.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title product-name">Patanjali Dantkanti Toothpaste</h5>
                              <p class="card-text product-price">Rs. 190/-</p>
                              <button class="add-to-cart-btn btn">Add to cart</button>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-product-item carousel-item">
                        <div class="product-card card" style="width: 18rem;">
                          <img src="../static/assets/product.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title product-name">Patanjali Dantkanti Toothpaste</h5>
                            <p class="card-text product-price">Rs. 190/-</p>
                            <button class="add-to-cart-btn btn">Add to cart</button>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-product-item carousel-item">
                        <div class="product-card card" style="width: 18rem;">
                          <img src="../static/assets/product.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title product-name">Patanjali Dantkanti Toothpaste</h5>
                            <p class="card-text product-price">Rs. 190/-</p>
                            <button class="add-to-cart-btn btn">Add to cart</button>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-product-item carousel-item">
                        <div class="product-card card" style="width: 18rem;">
                          <img src="../static/assets/product.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title product-name">Patanjali Dantkanti Toothpaste</h5>
                            <p class="card-text product-price">Rs. 190/-</p>
                            <button class="add-to-cart-btn btn">Add to cart</button>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-product-item carousel-item">
                        <div class="product-card card" style="width: 18rem;">
                          <img src="../static/assets/product.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title product-name">Patanjali Dantkanti Toothpaste</h5>
                            <p class="card-text product-price">Rs. 190/-</p>
                            <button class="add-to-cart-btn btn">Add to cart</button>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-product-item carousel-item">
                        <div class="product-card card" style="width: 18rem;">
                          <img src="../static/assets/product.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title product-name">Patanjali Dantkanti Toothpaste</h5>
                            <p class="card-text product-price">Rs. 190/-</p>
                            <button class="add-to-cart-btn btn">Add to cart</button>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-product-item carousel-item">
                        <div class="product-card card" style="width: 18rem;">
                          <img src="../static/assets/product.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title product-name">Patanjali Dantkanti Toothpaste</h5>
                            <p class="card-text product-price">Rs. 190/-</p>
                            <button class="add-to-cart-btn btn">Add to cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-product-prev carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                      <img src="../static/assets/arrow-left.svg" style="transform: rotateX(180deg);">
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-product-next carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                      <img src="../static/assets/arrow-right.svg">
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
          </div>
            <!-- Param Dham Videos -->
            <div class="new-setion container">
              <div class="row">
                <div class="col-md-11">
                  <h4 class="products-heading">Param Dham Videos</h4>
                  <h6 class="product-sub-heading">Checkout our videos available at our site</h6>
                </div>
                <div class="col-md-1">
                  <button type="button" class="default-button btn ">View More</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="container">
                    <div class="d-flex justify-content-center">
                      <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../static/assets/banner image.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/assets/banner image.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/assets/banner image.png" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev img-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                          <div class="svg-bg">
                            <img src="../static/assets/arrow-left.svg" style="transform: rotateX(180deg);">
                          </div>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next img-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                          <div class="svg-bg">
                            <img src="../static/assets/arrow-right.svg">
                          </div>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="../static/assets/banner image.png" alt="" class="vid-img">
                    </div>
                    <div class="col-md-6">
                      <img src="../static/assets/banner image.png" alt="" class="vid-img">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="../static/assets/banner image.png" alt="" class="vid-img">
                    </div>
                    <div class="col-md-6">
                      <img src="../static/assets/banner image.png" alt="" class="vid-img">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Person's Introduction -->
            <div class="new-setion container">
              <div class="d-flex justify-content-center">
                <img class="person-img" src="../static/assets/babaji.svg" width="300px">
              </div>
              <h4 class="person-intro">
                Paramukt Acharya Shri Radheshyam Ji's life introduction
              </h4>
              <p class="intro-para">
                Acharya Gurudev Shri was born on 2nd September 1985 in a village named Siswal named after the holy piligrimage site of Lord Shiva of Mahabharata period. This village comes around Hisar Tehsil Adampur city of Haryana province.Born in a farmer's family, Acharya Ji had a religious and karma-oriented background since birth.From childhood, grandfather used to teach him religious lessons. Being the youngest of five siblings,everyone has been loving and curious since childhood.
              </p>
              <div class="d-flex justify-content-center">
                <button type="button" class="default-button btn ">Read More</button>
              </div>
            </div>
            <!-- How did it start -->
            <div class="blog-section new-setion container">
              <div class="row">
                <div class="col-md-11">
                  <h4 class="products-heading">How did it Start?</h4>
                </div>
                <div class="col-md-1">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="img-wrapper">
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <p class="how-start-para">
                    The institution has been started on the symbolic order of Param Kaivalya Prabhu,in all our Puranas, every effort has been made to explain the truth.Our teachers, saints, rishis, prophets, philosophers, etc. have all brought the knowledge of eternal truth to human beings through different beliefs and facts, but man could not assimilate the essence of that knowledge, and the entire humanity of the world has become extinct today.This is the beginning for the memory of the lost humanity and ultimate purpose of man.
                  </p>
                  <p class="how-start-para">
                    To save the humanity going into the pit and to spread the knowledge of..
                  </p>
                  <button type="button" class="default-button btn ">Read More</button>
                </div>
              </div>
            </div>
            <!-- TimeLine -->
            <div class="new-setion d-flex justify-content-center" style="margin-right: 0%;margin-left: 0%;">
              <section class="ps-timeline-sec">
                <div class="container-timeline">
                    <ol class="ps-timeline">
                        <li>
                          <h3 class="numbering-timeline">01</h3>
                            <div class="img-handler-top-1 img-handler-top">
                              
                              <p class="timeline-text">Purpose of Param Kaivalya Dham To convey the supreme secret of the world-famous holy book Shri Gita to the people as they are, the words spoken by Shri Bhagavan.</p>
                            </div>
                            <div class="ps-bot">
                                <p></p>
                            </div>
                            <span class="ps-sp-top">
                              <img  class="timeline-img" src="../static/assets/book.svg">
                            </span>
                        </li>
                        <li>
                          <h3 class="numbering-timeline-bot">02</h3>
                            <div class="img-handler-bot">
                              <p class="timeline-text">
                                For physical, mental, social, economic, and spiritual upliftment, Jagriti Mission is to be run all over the world.
                              </p>
                            </div>
                            <div class="ps-top">
                                <p></p>
                            </div>
                            <span class="ps-sp-bot">
                              <img  class="timeline-img"  src="../static/assets/2.svg">
                            </span>
                        </li>
                        <li>
                          <h3 class="numbering-timeline">03</h3>
                            <div class="img-handler-top-3 img-handler-top">
                              <p class="timeline-text">
                                To direct the path of human liberation by leading a successful life along with joy, power, and prosperity.
                              </p>
                            </div>
                            <div class="ps-bot">
                                <p></p>
                            </div>
                            <span class="ps-sp-top">
                              <img  class="timeline-img"  src="../static/assets/3.svg">
                            </span>
                        </li>
                        <li>
                            <h3 class="numbering-timeline-bot">04</h3>
                            <div class="img-handler-bot">
                              <p class="timeline-text">
                                To make every person discover the divine knowledge (atmajnan) by reaching the body through the mind and from the mind to the soul
                              </p>
                            </div>
                            <div class="ps-top">
                                <p></p>
                            </div>
                            <span class="ps-sp-bot">
                              <img class="timeline-img" src="../static/assets/4.svg">       
                            </span>
                        </li>
                        <li>
                          <h3 class="numbering-timeline">05</h3>
                          <div class="img-handler-top-5 img-handler-top">
                            <p class="timeline-text">
                              To develop the country and society based on human values.
                            </p>
                          </div>
                          <div class="ps-bot">
                              <p></p>
                          </div>
                          <span class="ps-sp-top">
                            <img class="timeline-img"  src="../static/assets/star.svg">             
                          </span>
                      </li>
                      <li>
                        <h3 class="numbering-timeline-bot">06</h3>
                        <div class="img-handler-bot">
                          <p class="timeline-text">
                            To lead only the selfless and directionless youth power towards the welfare of the nation, to build a beautiful society by tying the heart of all religions in one thread.
                          </p>
                        </div>
                        <div class="ps-top">
                            <p></p>
                        </div>
                        <span class="ps-sp-bot">
                          <img  class="timeline-img"  src="../static/assets/6.svg">
                        </span>
                    </li>
                    </ol>
                </div>
            </section>
            </div>
            <!-- Latest Blogs -->
            <div class="new-setion container blog-container">
              <div class="">
                <h4 class="products-heading" style="text-align: center;">Latest Blogs</h4>
                <div class="row">
                  <div class="col-md-4 d-flex justify-content-center">
                    <div class="blog-card card " style="width: 18rem;">
                      <img src="../static/assets/banner image.png" class="blog-card-img card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="blog-card-title card-title">Know the worth of your birth for which you got a human life?</h5>
                        <p class="blog-card-text card-text">Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's</p>
                        <button type="button" class="default-button btn ">Read More</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex justify-content-center">
                    <div class="blog-card card " style="width: 18rem;">
                      <img src="../static/assets/banner image.png" class="blog-card-img card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="blog-card-title card-title">Religion turning in business, says the science of ideology</h5>
                        <p class="blog-card-text card-text">Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's</p>
                        <button type="button" class="default-button btn ">Read More</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex justify-content-center">
                    <div class="blog-card card " style="width: 18rem;">
                      <img src="../static/assets/banner image.png" class="blog-card-img card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="blog-card-title card-title">According to the ideology of science, Religion is becoming a business</h5>
                        <p class="blog-card-text card-text">Lorem ipsum is simply dummy text of the printing and typesetting industry.Lorem ipsum has been the industry's</p>
                        <button type="button" class="default-button btn ">Read More</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="new-setion container">

          </div>
          <footer class="footer paramdham-footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="footer-heading">Related Links</h4>
                  <ul class="menu">
                    <li class="menu-item">Home</li>
                    <li class="menu-item">About</li>
                    <li class="menu-item">Video</li>
                    <li class="menu-item">Shop</li>
                    <li class="menu-item">Events</li>
                    <li class="menu-item">Donations</li>
                    <li class="menu-item">Contacts</li>
                  </ul>
                </div>
                <div class="col-md-4 ">
                  <h4 class="footer-heading">Address</h4>
                  <p class="address-1">
                    Temple 1:777/ed Glendale<br>
                    Blvd, Los Angeles, 28400
                  </p>
                  <p class="address-1">
                    Temple 1:777/ed Glendale<br>
                    Blvd, Los Angeles, 28400
                  </p>
                </div>
                <div class="col-md-4">
                  <h4 class="footer-heading">Contact Us</h4>
                  <p class="address-1">
                    <h6 class="address-1">info@paramkaivalyadham.com</h6>
                    <h6 class="address-1">09876 54321</h6>
                  </p>
                </div>
              </div>
            </div>

          </footer>
        </div>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        var multipleCardCarousel = document.querySelector(
        "#carouselExampleControls"
        );
        if (window.matchMedia("(min-width: 768px)").matches) {
        var carousel = new bootstrap.Carousel(multipleCardCarousel, {
            interval: false,
        });
        var carouselWidth = $(".carousel-inner")[0].scrollWidth;
        var cardWidth = $(".carousel-item").width();
        var scrollPosition = 0;
        $("#carouselExampleControls .carousel-control-next").on("click", function () {
            if (scrollPosition < carouselWidth - cardWidth * 4) {
            scrollPosition += cardWidth;
            $("#carouselExampleControls .carousel-inner").animate(
                { scrollLeft: scrollPosition },
                600
            );
            }
        });
        $("#carouselExampleControls .carousel-control-prev").on("click", function () {
            if (scrollPosition > 0) {
            scrollPosition -= cardWidth;
            $("#carouselExampleControls .carousel-inner").animate(
                { scrollLeft: scrollPosition },
                600
            );
            }
        });
        } else {
        $(multipleCardCarousel).addClass("slide");
        }
    </script>
    </body>
</html>
